@model WebApplicationForMilitaria.Application.FirstProviderFileTwo.ProductTwoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductIdXML)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductIdXML)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceGross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrvNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrvNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrvGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrvGross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEditable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEditable)
        </dd>
    </dl>
</div>
<div>
    
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
