@model WebApplicationForMilitaria.Application.ThirdProviderFileOne.ProductFiveDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionPl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionPl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholesalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuggestedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuggestedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryPl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryPl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEditable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEditable)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsEditable)
    {
        <a class="btn btn-outline-secondary" asp-controller="ThirdProviderFileOne" asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>
    }

    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
